<div>
    <label>Nome</label>
    <input type="text" [(ngModel)]="name" autofocus>
    <!--Programação  que altera o template-->
    <!--template que altera classe/componente-->
    <br><br>
    <label>Salario</label>
    <input type="text" [(ngModel)]="salary">
    <br><br>

    <label *ngIf="salary < 1000">Bonus</label>
    <input *ngIf="salary < 1000" type="text" [(ngModel)]="bonus"><br>

    <button class="btn-primary" type="button" (click)="addEmployees()" >Add staff</button> 
    <!--substitui o onClick().No angular todo evento fica entre ()-->

</div>
