<modal-title>
  <h5 class="modal-title"> Empregado {{ employee?.name }} </h5>
</modal-title>

<modal-body>
  <div class="modal-body">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row"> Nome </th>
          <td> {{ employee?.name }} </td>
        </tr>

        <tr *ngIf="employee?.salary < 2000; else notBonus">
          <th scope="row"> Bônus </th>
          <td> {{ employee?.bonus }} </td>
        </tr>

        <ng-template #notBonus>
          <tr>
            <th scope="row"> Obs.: </th>
            <td> Funcionário não possui bônus </td>
          </tr>
        </ng-template>

      </tbody>
    </table>
  </div>
</modal-body>

<modal-footer>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
  </div>
</modal-footer>
