<div class="container">
  <alert-success [hidden]="!showMessageSuccess">
    O empregado <strong>{{ employee?.name }}</strong> foi cadastrado com sucesso!
  </alert-success>
  <h5>{{ data | date:'fullDate' | uppercase }}</h5> <br>
  <div class="row">
    <h1>Lista de empregados</h1>
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <td colspan="3" style="padding: 20px 0 20px;">
            <button class="btn btn-primary" (click)="openNewModal()" data-toggle="modal" data-target="#novoEmpregado">
              Novo empregado
            </button>
          </td>
        </tr>
        <tr>
          <th>Nome</th>
          <th>Salário</th>
          <th>Bônus</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let employee of employeeService.employees">
          <td> {{ employee.name }} </td>
          <td [innerHTML]="employee.salary | myCurrency" [salaryColor]="employee.salary"></td>
          <td> {{ employee.bonus | myCurrency }} </td>
          <td>
            <a href="javascript:void(0)" (click)="openEdit(employee)" style="text-decoration: none;">Editar</a> |
            <a href="javascript:void(0)" (click)="openDestroyModal(employee)" style="text-decoration: none;">Excluir</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<employee-new-modal (onSubmit)="onNewEmployee($event)"></employee-new-modal>
<employee-edit [employee]="employeeToEdit" (onSubmit)="onEditEmployee($event)"></employee-edit>
<employee-delete-modal [employee]="employeeToDelete" (onDestroy)="onDestroyEmployee($event)"></employee-delete-modal>
