<div class="container">

  <alert-success [hidden]="!showMessageSuccess">
    O empregado <strong>{{ employee?.name }}</strong> foi cadastrado com sucesso!
  </alert-success>

  <alert-success [hidden]="!showMessageEdit">
    O empregado <strong>{{ employee?.name }}</strong> foi editado com sucesso!
  </alert-success>

  <alert-success [hidden]="!showMessageDelete">
    O empregado <strong>{{ employee?.name }}</strong> foi excluído com sucesso!
  </alert-success>

  <h5>{{ data | date:'fullDate' }}</h5> <br>


  <ng-container *ngIf="isLoading">
    <ng-container *ngTemplateOutlet="loading"></ng-container>
  </ng-container>


  <div class="row">
    <h1>Lista de empregados</h1>

    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <td colspan="3" style="padding: 20px 0 20px;">
            <button class="btn btn-primary" (click)="openNewModal()" data-toggle="modal" data-target="#novoEmpregado">
              Novo empregado
            </button>
          </td>
        </tr>
        <tr>
          <th>Nome</th>
          <th>Salário</th>
          <th>Bônus</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let employee of employeeService.employees; let i=index;">
          <tr [id]="'tr' + i">
            <td>
              <a href="javascript:void(0)" (click)="openDetailModal(employee)" style="text-decoration: none;"> {{ employee.name }} </a>
            </td>
            <td [innerHTML]="employee.salary | myCurrency" [salaryColor]="employee.salary"></td>
            <td> {{ employee.bonus | myCurrency }} </td>
            <td>
              <a href="javascript:void(0)" (click)="openEdit(employee)" style="text-decoration: none;">Editar</a> |
              <a href="javascript:void(0)" (click)="openDestroyModal(employee)" style="text-decoration: none;">Excluir</a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<employee-detail-modal [employee]="employeeToDetail" (onDetail)="onDetailEmployee($event)"></employee-detail-modal>
<employee-new-modal (onSubmit)="onNewEmployee($event)" (onHide)="fechou($event)" #employeeNewModal></employee-new-modal>
<employee-edit [employee]="employeeToEdit" (onSubmit)="onEditEmployee($event)"></employee-edit>
<employee-delete-modal [employee]="employeeToDelete" (onDestroy)="onDestroyEmployee($event)"></employee-delete-modal>

<ng-template #loading>
  Carregando . . .
</ng-template>
