<div class="container">

  <alert-success [hidden]="!successMessage.show">
    <span [innerHTML]="successMessage.message"></span>
  </alert-success>

  <div class="row">
    <h1>Lista de empregados</h1>

    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <td colspan="3" style="padding: 20px 0 20px;">
            <button class="btn btn-primary" (click)="openNewModal()" data-toggle="modal" data-target="#novoEmpregado">
              Novo empregado
            </button>
          </td>
        </tr>
        <tr>
          <th>Nome</th>
          <th>Salário</th>
          <th>Bônus</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
          <tr *ngFor="let employee of employees">   <!-- variavel 'employees' feita para usar com a API -->
            <td>
              <a href="javascript:void(0)" (click)="openDetailModal(employee)" style="text-decoration: none;"> {{ employee.name }} </a>
            </td>
            <td [innerHTML]="employee.salary | myCurrency" [salaryColor]="employee.salary"></td>
            <td> {{ employee.bonus | myCurrency }} </td>
            <td>
              <a href="javascript:void(0)" (click)="openEdit(employee)" style="text-decoration: none;">Editar</a> |
              <a href="javascript:void(0)" (click)="openDestroyModal(employee)" style="text-decoration: none;">Excluir</a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
