<!-- <div>
  <ng-container *ngTemplateOutlet="logo"></ng-container>
  <ng-container *ngTemplateOutlet="flagLogo ? logo : logoSmall; context: objContext"></ng-container>

  <ng-container [ngSwitch]="role">
    <ng-container *ngSwitchCase="'admin'">
      <ng-container *ngTemplateOutlet="headerAdmin"></ng-container>  <!--TemplateOutlet serve para utilizar um template que está-->
    <!-- </ng-container>                                       <!--sendo criado no próprio arquivo, no caso headerAdmin e headerManager-->

    <!-- <ng-container *ngSwitchCase="'manager'">
      <ng-container *ngTemplateOutlet="headerManager"></ng-container>
    </ng-container>
  </ng-container>
</div> -->

<employee-list></employee-list>

<ng-template appGetViewContainer></ng-template>


<!-- <ng-template #logo let-name="name">
  <img src="../assets/logo.png" alt="Logo">
  {{ title }}
  {{ name }}
</ng-template>


<ng-template #logoSmall>
  <img src="../assets/logo.png" alt="Logo" width="50" height="50">
</ng-template>

<ng-template #headerAdmin>
  <h5>Eu sou o admin</h5>
  <!-- <component-header-admin></component-header-admin>  é possível criar um componente e chamar aqui dentro do template  -->
<!-- </ng-template>

<ng-template #headerManager>
    <h5>Eu sou o gerente</h5>
    <!-- <component-header-manager></component-header-manager> -->
<!-- </ng-template> -->

